.card {
    padding: 77px 0;
       
    @media(max-width: 1024px) {
        padding: 37px 0;
    }
    
    @media(max-width: 320px) {
        padding: 5px 0;
    }
}
.card-wrap {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 1024px) {
        justify-content: center;
    }

}

.card-wrap-item {
    margin: 50px 15px;
    width: 355px;
    text-align: center;
    
    @media(max-width: 1024px) {
        margin: 30px 15px;
    }

    @media(max-width: 320px) {
        margin: 24px 15px;
    }
}
.card-wrap-item h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #2D3033;
    margin-bottom: 30px;

    @media(max-width: 1024px) {
        font-size:18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    @media(max-width: 320px) {
        font-size:18px;
        line-height: 21px;
        margin-bottom: 10px;
    }
}
.card-wrap-item-img img {
    width: 78px;
    margin-bottom: 40px;

    @media(max-width: 1024px) {
        width: 67px;
        margin-bottom: 40px;
    }
    @media(max-width: 320px) {
        width: 59px;
        margin-bottom: 30px;
    }
}

.card-wrap-item-text p {
    font-size: 18px;
    color: #6C7279;  
   
    @media(max-width: 1024px) {
        font-size:14px;
        line-height: 16px;
    }
    
    @media(max-width: 320px) {
        font-size:14px;
        line-height: 16px;
    }  
}


