.downloand {
    padding: 114px 0;
}

.downloand-wrap {
    text-align: center;
}
.downloand-wrap h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    color: #000000;
}
.downloand-wrap h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.section-btn a {
    background-color: #FF4343;
    display: inline-block;
    text-align: center;
    padding: 12px 43px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
}