.downloand {
    padding: 114px 0;
   
    @media(max-width: 320px) {
        padding: 45px 0;
}
}
.downloand-wrap {
    text-align: center;
} 
.downloand-wrap-item {
    margin-bottom:10px;
    
    @media(max-width: 320px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

}
.downloand-wrap-item span {
    font-weight: 500;
    font-size: 30px;
    line-height: 12px;
    color: #000000;
   
    @media(max-width: 1024px) {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 280px;
        
    }
    @media(max-width: 320px) {
        font-size:18px;
        line-height: 21px;
        text-align: center;
        width: 280px;
        
    }
}

.downloand-wrap h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media(max-width: 1024px) {
        font-size:14px;
        line-height: 16px;
        margin-bottom: 45px;
       text-align: center;
    }
    @media(max-width: 320px) {
        font-size:13px;
        line-height: 15px;
        margin-bottom: 13px;
       text-align: center;
    }
}
    
    @media(max-width: 1024px) {
    
        .button-download a {
        font-size:18px;
        line-height: 21px;
       
    }  
       
    }
