footer {
    background-color: #353C65;
}
.footer-wrap {
   
    padding: 71px 0;
   
}
.footer-wrap-content {
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.footer-wrap-item {
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}
.footer-wrap-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 49px;
    text-transform: uppercase;
    
}
.footer-wrap-item p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 370px;
}
.social-list--size {
    width: auto;
    justify-content: space-between;
}
.footer-copyright {
    background-color: #2C3154;
    display: block;
    padding: 24px 0;
}
.footer-copyright p{
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    width: 370px;
    margin: auto;
    text-align: center;
}
.footer-copyright a {
    color: #FFFFFF;
    text-decoration: none;
}