* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    font-family:"Raleway";
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1024px) {
        max-width: 980px;
    }
   
    @media (max-width: 320px) {
        max-width: 320px;
    }
}
.button a {
    background-color: #FF4343;
    transition: 0.2s;
    padding: 20px 80px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
   
    @media (max-width: 1024px) {
        padding: 20px 50px;
    }
    
    @media (max-width: 320px) {
        padding: 15px 40px;
    }
}
