
.slider-wrap-list {
    overflow: hidden;
    margin-bottom: 30px;
    
    @media(max-width: 320px) {
        display: block;
    }
}

.slider-wrap-list li {
    width: 100%;
}
.slider-wrap-item {
    display: none;
}
.slider-wrap-item--active {
    display:flex;
   

    @media(max-width: 360px) {
        display: block;
    }
}
.slider-img {
    width: 50%;
    height: 490px;
    background-image: url(../images/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 360px) {
        height: 212px;
        width: 100%;
    }
}

.slider-color {
    width: 50%;
    height: 490px;
    background-image:none;
    background-color: #5C3249;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 8%;

    @media(max-width: 360px) {
        width: 100%;
        height: auto;
    }
}
.slider-wrap-item-comment {
    margin-bottom: 22px;
}
.slider-wrap-item-comment p {
    font-family: "Cardo";
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    text-transform: capitalize;
    
    @media(max-width: 1024px) {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        
}
}

.slider-wrap-item-info p {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    
    @media(max-width: 320px) {
       text-align: center;
    }
}


.slider-color--yellow {
    background-color: rgb(234, 234, 162);
}
.slider-color--blue {
    background-color: rgb(110, 110, 224)
} 

.slider-buttons {
    display: flex;
    justify-content: center;
}

.slider-button-item {
    margin: 0 10px;
}

.slider-button-item span {
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7E5D6F;
}

.slider-button-item--active span {
    background-color: #7E5D6F;
}