.slider-wrap-list {
    height: 538px;
    overflow: hidden;
    
    @media(max-width: 320px) {
        display: block;
    }
}

.slider-wrap-item {
    display: none;
}
.slider-wrap-item--active {
    display:flex;

    @media(max-width: 320px) {
        display: block;
    }
}
.slider-img {
    width: 50%;
    height: 490px;
    background-image: url(../images/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 320px) {
        width: 100%;
        height: 212px;
    }
}

.slider-color {
    width: 50%;
    height: 490px;
    background-image:none;
    background-color: #5C3249;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 8% 11%;
   
    @media(max-width: 320px) {
        width: 100%;
        height: 326px;
    }
}
.slider-wrap-item-comment {
    margin-bottom: 22px;
}
.slider-wrap-item-comment p {
    font-family: "Cardo";
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    
    @media(max-width: 320px) {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
}
}

.slider-wrap-item-info p {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    
    @media(max-width: 320px) {
       text-align: center;
    }
}


.slider-color--yellow {
    background-color: rgb(234, 234, 162);
}
.slider-color--blue {
    background-color: rgb(110, 110, 224)
}